body {
  background-color: #121212 !important;
  color: white !important;
}

.swagger-ui .topbar {
  background-color: #1E1E1E !important;
}

.swagger-ui .info {
  color: #61DAFB !important;
}

.swagger-ui .btn {
  background-color: #FF5733 !important;
  color: white !important;
}
