<script>
  window.onload = function() {
      const ui = SwaggerUIBundle({
          url: "/openapi.json",
          dom_id: "#swagger-ui",
          deepLinking: true,
          presets: [
              SwaggerUIBundle.presets.apis,
              SwaggerUIStandalonePreset
          ],
          layout: "StandaloneLayout"
      });

      // Dynamically inject custom CSS
      let customCss = document.createElement('style');
      customCss.innerHTML = `
          body { background-color: #202124 !important; color: white !important; }
          .swagger-ui .topbar { background-color: #1E1E1E !important; }
          .swagger-ui .info { color: #61DAFB !important; }
      `;
      document.head.appendChild(customCss);

      window.ui = ui;
  };
</script>
